<% if (fname && lname) { %>
    <div style="font-size: 20px; margin-top: 20px">
        <ul>
            <li><a href='https://docs.google.com/forms/d/e/1FAIpQLSeVQPHn_pc3tTXwDZYlb-j-7EJfEK29wHyfpGnbONyWP51tug/formResponse?entry.1285353223=<%= fname %>&entry.326597805=<%= lname %>&entry.682239599=<%= email %>&entry.1639157865=<%= phone %>&entry.621997922=<%= consent %>&entry.849292956=<%= staff_or_student %>'
                    target="_blank">Link to prefilled student form</a></li>
        </ul>
    </div>
    <% } %>